aiohttp
aiosignal
annotated-types
anyio
attrs
autocommand
certifi
cffi
charset-normalizer
colorama
colorlog
cryptography
discord.py
distro
elevenlabs
fastjsonschema
frozenlist
greenlet
h11
h2
hpack
httpcore
httpx
hyperframe
idna
inflect
jaraco.context
jaraco.functools
jaraco.text
keyboard
markdown-it-py
mdurl
more-itertools
msgpack
multidict
openai
ordered-set
packaging
pip
platformdirs
pycparser
pydantic
pydantic_core
pydub
Pygments
PyNaCl
pynvim
pywal
requests
rich
ruff
setuptools
sniffio
tomli
tqdm
trove-classifiers
typeguard
typing_extensions
uc-micro-py
urllib3
validate-pyproject
websockets
wheel
yarl
youtube_dl
yt-dlp
